<li>
    <div *ngIf="!displayEdit;" style="width: 100%;border: 0px solid black;margin: 10px;height: 17px;">
        <div class="todoLeft">
            <button class="cButton " *ngIf="!todo.completed" (click)="markAsComplete(todo.task)">Completed</button>

        </div>
        <div class="todoCenter">
            <span [ngClass]="todo.completed ? 'strike' : '' "> {{todo.task}} </span>

        </div>
        <div class="todoRight" >
            <button (click)="removeTask(todo.task)">&#10006;</button>

        </div>
        <div class="todoRight" >
            <button (click)="toggleEdit()">E</button>

        </div>
    </div>

    <div *ngIf="displayEdit;" style="width: 100%;border: 0px solid black;margin: 10px;height: 17px;">

        <div class="todoLeftCenter">
            <input  [(ngModel)]="editToDo.task" >
        </div>
        <div class="todoRight" >
            <button (click)="removeTask(todo.task)">&#10006;</button>
        </div>
        <div class="todoRight" >
            <button (click)="saveChanges()">S</button>

        </div>
    </div>
</li>